.nav {
    grid-area: n;

    background-color: #00AF91;
    width: 250px;

    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 50px;
}


.item {
    margin: 50px;
    color: rgb(9, 33, 25);
    font-family: "Californian FB";
    text-decoration-line: none;
}

.item:hover {
    color: #007965;
    cursor: pointer;
}

.item.active {
    color: #F58634;
}

.friend {
    color: #00AF91;
}